In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('venda_cursos.csv')

In [3]:
df.head()

,ID,Nome do Curso,Quantidade de Vendas,Preço Unitário,Data
0,1,Introdução à Programação em Python,50,39.9,2023-01-01
1,2,Desenvolvimento Web com HTML e CSS,30,59.9,2023-01-02
2,3,JavaScript Avançado: Frameworks e Bibliotecas,20,79.9,2023-01-03
3,4,Introdução ao Machine Learning,15,99.9,2023-01-04
4,5,Desenvolvimento Mobile com React Native,25,69.9,2023-01-05

In [4]:
df.describe()

              ID  Quantidade de Vendas  Preço Unitário
count  25.000000             25.000000       25.000000
mean   13.000000             17.960000       83.900000
std     7.359801             10.921996       21.984843
min     1.000000              5.000000       39.900000
25%     7.000000             10.000000       69.900000
50%    13.000000             15.000000       79.900000
75%    19.000000             20.000000       99.900000
max    25.000000             50.000000      119.900000

Dessa forma podemos verificar que o número mínimo do preço foi 39 e o máximo de 119, além de outras informações.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    25 non-null     int64
 1   Nome do Curso         25 non-null     object
 2   Quantidade de Vendas  25 non-null     int64
 3   Preço Unitário        25 non-null     float64
 4   Data                  25 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 1.1+ KB

Analisando o dataframe, verificamos que não possui valores nulos

O restante da análise, assim como os gráficos foram feitos no streamlit.